<router-outlet></router-outlet>

<!-- Modal -->
<div *ngFor="let wholesaler of wholesalers" class="modal fade"  [id]="'modal-delete-wholesaler-'+wholesaler._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Voulez-vous vraiment supprimer définitivement le grosssite "{{ wholesaler.name }}" ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteHard(wholesaler)">Supprimer </button>
        <!-- <i class="fas fa-sign-out-alt"></i> -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div *ngFor="let wholesaler of wholesalers" class="modal fade"  [id]="'modal-reset-wholesaler-password-'+wholesaler._id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Réinitialisation du mot de passe</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Voulez-vous vraiment réinitialiser le mot de passe du grossiste "{{ wholesaler.login }}" ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetPassword(wholesaler)">Réinitialiser </button>
        <!-- <i class="fas fa-sign-out-alt"></i> -->
			</div>
		</div>
	</div>
</div>
