<form class="card-body" [formGroup]="editAdminPasswordForm" (ngSubmit)="modifyPassword()">
  <div class="row mt-3" fxLayoutAlign="row wrap">
    <div class="col-md-6" fxFlex.lt-md="100" fxFlex="50">
      <div class="form-group form-group-default">
        <label>Ancien Mot de passe</label>
        <input type="password" class="form-control" formControlName="oldPassword"
        [ngClass]="{ 'is-invalid': submitted && editAdminPasswordForm.controls.oldPassword.errors }">
        <div *ngIf="submitted && editAdminPasswordForm.controls.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="editAdminPasswordForm.controls.oldPassword.errors.required">L'ancien Mot de passe est réquis !</div>
        </div>
      </div>
    </div>
    <div class="col-md-6" fxFlex.lt-md="100" fxFlex="50">
      <div class="form-group form-group-default">
        <label>Nouveau mot de passe</label>
        <input type="password" class="form-control" formControlName="newPassword"
        [ngClass]="{ 'is-invalid': submitted && editAdminPasswordForm.controls.newPassword.errors }">
        <div *ngIf="submitted && editAdminPasswordForm.controls.newPassword.errors" class="invalid-feedback">
          <div *ngIf="editAdminPasswordForm.controls.newPassword.errors.required">Le nouveau Mot de passe est réquis !</div>
        </div>
      </div>
    </div>
    <div class="col-md-6" fxFlex.lt-md="100" fxFlex="50">
      <div class="form-group form-group-default">
        <label>Retapez votre nouveau mot de passe</label>
        <input type="password" class="form-control" formControlName="reNewPassword"
        [ngClass]="{ 'is-invalid': submitted && editAdminPasswordForm.controls.reNewPassword.errors }">
        <div *ngIf="submitted && editAdminPasswordForm.controls.reNewPassword.errors" class="invalid-feedback">
          <div *ngIf="editAdminPasswordForm.controls.reNewPassword.errors.required">La confirmation du nouveau Mot de passe est réquise !</div>
          <div *ngIf="editAdminPasswordForm.controls.reNewPassword.errors.mustMatch">Les mots de passes doivent être identiques</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-left mt-3 mb-3">
    <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
  </div>
</form>
