<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <!-- Page Header -- Debut -->
        <app-page-header
        title="VILLES"
        [breadcrumb]="[
        {name : 'Paramètres',link : '',icone : 'fas fa-cog'},
        {name : 'Mes villes',link : '/parametres/villes',icone : 'fas fa-map-marker-alt'},
        {name : 'Ajouter une ville',link : '',icone : 'fas fa-plus-circle'}]"></app-page-header>
      <!-- Page Header -- Fin -->
      <div class="row mt-top">
        <div class="col-md-12">
          <form class="card" [formGroup]="addCityForm" (ngSubmit)="add()">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <h4 class="card-title">Ajouter une ville</h4>
                <button type="button" class="btn btn-primary btn-round ml-auto" [routerLink]="['/parametres/villes/']" >
                  <i class="fas fa-arrow-alt-circle-left"></i>
                  <span fxHide.lt-md> Retour </span>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row" fxLayoutAlign="row wrap">
                <div class="col-md-6 col-lg-4" fxFlex.lt-md="100" fxFlex="50">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Ville</label>
                    <input type="email" class="form-control"  formControlName="name"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom de la ville"
                    [ngClass]="{ 'is-invalid': submitted && addCityForm.controls.name.errors }">
                    <div *ngIf="submitted && addCityForm.controls.name.errors" class="invalid-feedback">
                      <div *ngIf="addCityForm.controls.name.errors.required">La ville est réquise !</div>
                    </div>
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button class="btn btn-success">Ajouter</button>
              <!-- <button class="btn btn-danger">Retour</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
