<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <!-- Page Header -- Debut -->
        <app-page-header
        title="PRODUITS"
        [breadcrumb]="[
        {name : 'Mes produits',link : '/produits',icone : 'fas  fa-box'},
        {name : 'Modifier un produit',link : '',icone : 'far fa-edit'}]"></app-page-header>
      <!-- Page Header -- Fin -->
      <div class="row mt-top">
        <div class="col-md-12">
          <form class="card" [formGroup]="editProductForm" (ngSubmit)="modify()">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <h4 class="card-title">Modifier un produit</h4>
                <button type="button" class="btn btn-primary btn-round ml-auto" [routerLink]="['/produits']" >
                  <i class="fas fa-arrow-alt-circle-left"></i>
                  <span fxHide.lt-md> Mes produits </span>
                  <i class="fas  fa-box"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row wrap">

                <div fxFlex.lt-md="100" fxFlex="50" class="form-group">
                  <label for="exampleInputEmail1">SKU</label>
                  <input class="form-control"  placeholder="Nom du produit" formControlName="sku"
                  [ngClass]="{ 'is-invalid': submitted && editProductForm.controls.sku.errors }">
                  <div *ngIf="submitted && editProductForm.controls.sku.errors" class="invalid-feedback">
                    <div *ngIf="editProductForm.controls.sku.errors.required">Le sku est réquis !</div>
                  </div>
                </div>

                <div fxFlex.lt-md="100" fxFlex="50" class="form-group" >
                  <label for="exampleInputEmail1">Prix du carton</label>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control"  placeholder="" formControlName="price"
                    [ngClass]="{ 'is-invalid': submitted && editProductForm.controls.price.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">FCFA</span>
                    </div>
                    <div *ngIf="submitted && editProductForm.controls.price.errors" class="invalid-feedback">
                      <div *ngIf="editProductForm.controls.price.errors.required">Le prix du produit est réquis !</div>
                      <div *ngIf="editProductForm.controls.price.errors.min">Le prix du produit ne doit être inférieur à 0 !</div>
                    </div>
                  </div>
                </div>

                <div fxFlex.lt-md="100" fxFlex="50" class="form-group">
                  <label for="exampleInputEmail1">Nombre de cigarettes par carton</label>
                  <input type="number" class="form-control"  placeholder="" formControlName="numberByPack"
                  [ngClass]="{ 'is-invalid': submitted && editProductForm.controls.numberByPack.errors }">
                  <div *ngIf="submitted && editProductForm.controls.numberByPack.errors" class="invalid-feedback">
                    <div *ngIf="editProductForm.controls.numberByPack.errors.required">Le nombre de cigarettes par carton est réquis !</div>
                    <div *ngIf="editProductForm.controls.numberByPack.errors.min">Le nombre de cigarettes par carton ne doit être inférieur à 0 !</div>
                  </div>
                </div>

                <div class="form-group" fxFlex.lt-md="100" fxFlex="50">
                  <label for="exampleFormControlSelect1">Marque </label>
                  <select formControlName="idMark" class="form-control" id="exampleFormControlSelect1"
                  [ngClass]="{ 'is-invalid': submitted && editProductForm.controls.idMark.errors }">
                    <option *ngFor="let mark of marks" [value]="mark._id">{{mark.name}}</option>
                  </select>
                  <div *ngIf="submitted && editProductForm.controls.idMark.errors" class="invalid-feedback">
                    <div *ngIf="editProductForm.controls.idMark.errors.required">La marque du produit est réquise !</div>
                  </div>
                </div>

                <div fxFlex.lt-md="100" fxFlex="50"  fxLayout="column" fxLayoutAlign="center start" style="padding: 10px;">
                  <div class="input-file input-file-image" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayoutGap.xs="5px">
                    <img class="img-upload-preview img-circle" width="100" height="100" [src]="imagePreview ? imagePreview : 'assets/img/boite-en-carton.png'"  alt="preview">
                    <input type="file" class="form-control form-control-file" id="uploadImg1" name="uploadImg1" accept="image/*" required="" (change)="onFileChange($event)">
                    <label for="uploadImg1" class="  label-input-file btn btn-sm btn-black btn-round">
                      <span class="btn-label ">
                        <i class="fa fa-file-image"></i>
                      </span>
                      Changer l'image
                    </label>
                    <button  type="button" class="btn btn-sm btn-danger btn-round" (click)="deleteImagePreview()">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>


              </div>
            </div>
            <div class="card-action">
              <button class="btn btn-success" type="submit">Sauvergarder les modifications</button>
              <button type="button" class="btn btn-danger" data-toggle="modal"[attr.data-target]="'#modal-delete-product-'+product._id">Supprimer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
