.page-header{
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-top: -24px;
  margin-bottom: 24px;
  padding: 15px;

  background-color: #1f1e2e;
  @media screen and (max-width: 991px){
    margin-left: -15px;
    margin-right: 15px;
    height: 80px;
  }
  @media screen and (min-width: 992px){
    margin-left: -32px;
    margin-right: 32px;
    height: 70px;

  }
  .page-title{
    color: white;
  }

  .breadcrumbs{
    i{
      color: white;
      margin-left: 7px;
      margin-right: 7px;
    }
    a{
      color: white;
    }
    .nav-item:last-child > a ,.nav-item:last-child > a > i{
      // color: #6c757d;
      color: #575962;;
    }

  }
}


